nav.menu
  .menu__item
    a.menu__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#youtube")
      span.menu__text Youtube
  .menu__item
    a.menu__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#banknote")
      span.menu__text Payment
  .menu__item
    a.menu__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#info")
      span.menu__text Info
  .menu__item
    a.menu__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#user")
      span.menu__text Users
  .menu__item
    a.menu__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#calendar")
      span.menu__text Calendar